# Environment: "local", "staging", "production" (defaults to "local")
NODE_ENV=

# Application URL
APP_URL=

# The port you wish to run the server on (defaults to "3000")
PORT=

# The URL to the MySQL database
DATABASE_URL=mysql://username:password@host:port/databasename

# Secret used for validating JWT, MUST BE SECURE!
TOKEN_SECRET=

# The base domain used for cookies, prefix with a "." application to all subdomains
COOKIE_DOMAIN=

# Access Token Expiry (ideally as short as possible), example: "3 hours"
ACCESS_TOKEN_EXPIRY=

# Refresh Token Expiry, example: "3 days"
REFRESH_TOKEN_EXPIRY=

# SMTP details for Nodemailer
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Seed data
DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_CLIENT_NAME=
DEFAULT_CLIENT_CALLBACK_URL=
