
<div class="min-h-full flex flex-col space-y-6 items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <h1 class="mt-6 text-center text-3xl font-extrabold text-asphalt">
        404 – Page not found
    </h1>
    <a href="/" class="bg-gray-600 text-white font-black rounded-md px-6 py-3">Return to dashboard</a>
</div>
