<div class="min-h-full flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8 space-y-8">
    <h1 class="mt-6 text-center text-3xl font-extrabold text-asphalt">
        Welcome back
    </h1>

    <p>You are logged in as {{ user.name }} ({{ user.email }})</p>

    <form id="logout-form">
        <button type="submit" class="bg-gray-600 text-white font-black rounded-md px-6 py-3">Log out</button>
    </form>
</div>

<script>
    const form = document.getElementById('logout-form');

    form.addEventListener('submit', handleLogout);

    function handleLogout(e) {
        e.preventDefault();

        fetch('/logout', {
            headers: {
                'Content-Type': 'application/json',
            },
            method: 'POST',
        }).then(res => {
            window.location.pathname = '';
        });
    }
</script>
