<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="mt-6 text-center text-3xl font-extrabold text-asphalt">
                Reset password
            </h1>
        </div>
        <form class="mt-8 space-y-6" action="/forgot-password/reset" method="POST" id="password-reset-form">
            <input type="hidden" name="_token" id="_token" value="{{ token }}">

            <div class="rounded-md shadow-sm space-y-6">
                <div>
                    <label for="email" class="text-sm mb-2">Email address</label>
                    <input id="email" name="email" type="email" autocomplete="email" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-teal focus:border-teal focus:z-10 sm:text-sm"
                        placeholder="name@example.com" value={{ email }}>
                </div>
                <div>
                    <label for="password" class="text-sm mb-2">New password</label>
                    <input id="password" name="password" type="password" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-teal focus:border-teal focus:z-10 sm:text-sm"
                        placeholder="">
                </div>
                <div>
                    <label for="passwordConfirm" class="text-sm mb-2">Confirm new password</label>
                    <input id="passwordConfirm" name="passwordConfirm" type="password" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-teal focus:border-teal focus:z-10 sm:text-sm"
                        placeholder="">
                </div>
            </div>

            <div class="flex items-center">
                <a id="back-to-login" href="/login" class="font-black text-center mx-auto text-teal-dark hover:text-teal hidden">
                    Return to login
                </a>
            </div>

            <div>
                <button type="submit"
                    class="font-black group relative w-full flex justify-center py-2 px-4 border border-transparent rounded-md text-white bg-teal hover:bg-teal-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-teal-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    Save details
                </button>
            </div>
        </form>

        <div id="message" class="text-center font-bold"></div>
    </div>
</div>

<script>
    const resetForm = document.getElementById('password-reset-form');
    const messageEl = document.getElementById('message');
    const backToLogin = document.getElementById('back-to-login');

    resetForm.addEventListener('submit', handleSubmit);

    async function handleSubmit(e) {
        e.preventDefault();

        const { email: emailInput, password: passwordInput, passwordConfirm: passwordConfirmInput, _token: tokenInput } = e.target;

        const email = emailInput.value;
        const password = passwordInput.value;
        const passwordConfirm = passwordConfirmInput.value;
        const _token = tokenInput.value;

        if (!email || !password || !passwordConfirm) {
            return messageEl.textContent = 'Please complete all fields';
        };

        if (!_token) {
            return message.textContent = 'Something went wrong. Please issue a new reset link';
        }

        const data = { password, passwordConfirm, email, _token };

        const res = await fetch('/forgot-password/reset', {
            headers: {
                'Content-Type': 'application/json',
            },
            method: 'POST',
            body: JSON.stringify(data),
        });

        if (res.status === 200) {
            backToLogin.style.display = 'block';
            message.textContent = 'Your password has been reset successfully.';
        } else {
            const resBody = await res.json();
            return message.textContent = resBody.message;
        }

    }
</script>
