<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="mt-6 text-center text-3xl font-extrabold text-asphalt">
                Forgot password
            </h1>
            <p class="mt-4 text-center">Please enter your email address, and a password reset link will be sent to you providing a user exists with that email.</p>
        </div>
        <form class="mt-8 space-y-6" action="/login" method="POST" id="forgot-password-form">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="email" class="sr-only">Email address</label>
                    <input id="email" name="email" type="email" autocomplete="email" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-teal focus:border-teal focus:z-10 sm:text-sm"
                        placeholder="Email address">
                </div>
            </div>

            <div class="flex items-center">
                <a href="/login" class="text-sm font-medium text-center mx-auto text-teal-dark hover:text-teal">
                    Return to login
                </a>
            </div>

            <div>
                <button type="submit"
                    class="font-black group relative w-full flex justify-center py-2 px-4 border border-transparent rounded-md text-white bg-teal hover:bg-teal-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-teal-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    Send reset
                </button>
            </div>
        </form>

        <div id="message" class="text-center font-bold"></div>
    </div>
</div>

<script>
    const forgotPasswordForm = document.getElementById('forgot-password-form');
    const messageEl = document.getElementById('message');

    forgotPasswordForm.addEventListener('submit', handleSubmit);

    async function handleSubmit(e) {
        e.preventDefault();

        const { email: emailInput } = e.target;

        const email = emailInput.value;

        if (!email) {
            return messageEl.textContent = 'Please complete all fields';
        };

        const data = { email };

        const res = await fetch('/forgot-password', {
            headers: {
                'Content-Type': 'application/json',
            },
            method: 'POST',
            body: JSON.stringify(data),
        });

        if (res.status === 201) {
            messageEl.textContent = 'Please check your emails for your password reset link. Your link will be valid for 30 minutes.';
        }
    }
</script>
